<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Maintenance </title>
    </head>
    <body>
        {{> header}}
        <p> Some text that is writing about the page</p>

        {{> footer}}
    </body>
</html>